/*---- Todo conteudo ----*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    display: block;
}

/*----- Menu -----*/
a{
    text-decoration: none;
}
header .menu .introducao li{
    display: inline-block;
}
header .menu{
    position: fixed;
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between; 
}
header .menu .introducao a{
    color: black;
    padding: 0px 20px 10px;
    position: relative;
}
header .menu .introducao a::after{
    content: " ";
    width: 0%;
    height: 3px;
    background-color: black;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.5s ease-in-out;
}
header .menu .introducao a:hover::after{
    width: 100%;
}

header .menu .logins li{
    display: inline-block;
}
header .menu .entrar a{
    color: black;
    padding: 0px 20px 10px;
    position: relative;
}
header .menu .entrar a::after{
    content: " ";
    width: 0%;
    height: 3px;
    background-color: darkslateblue;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.5s ease-in-out;
}
header .menu .entrar a:hover::after{
    width: 100%;
}

/*----- Conteudo -----*/

