/*-------**** Todo conteudo da Pagina index.html ****-------*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    display: block;
}
html, body{
    height: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
}
body{
    width: 100%;
    height: 100vh;
    background-color: white;

    /* background-image:  url(https://img.freepik.com/fotos-gratis/fundo-de-ficcao-cientifica-futurista-moderno_35913-2152.jpg?t=st=1653931618~exp=1653932218~hmac=23b9f09ece9eb616f2689a34e45f46fdc5a4f561a0350b71fa0c11bae1421154&w=740);  */
    
    background-position: center;
    background-size: cover;
}
/*--------**** MENU ****--------*/

/*---** Menu geral **---*/
a{
    text-decoration: none;
}    
.menu{
    position: fixed;
    width: 100%;
    margin: -05px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    
    /* background-color: rgba(15, 15, 61, 0.747); */
}
/*---** Menu de Informações **---*/
.menu .introducao li{
    display: inline-block;
}
.menu .introducao a{
    color: black;
    font: bolder;
    padding: 0px 10px 10px;
    position: relative;
}
.menu .introducao a::after{
    content: " ";
    width: 0%;
    height: 3px;
    background-color: black;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.5s ease-in-out;
}
.menu .introducao a:hover::after{
    width: 100%;
}
/*---** Menu com login e cadastro **---*/
.menu .logins li{
    display: inline-block;
}
.menu .entrar a{
    color: black;
    padding: 0px 20px 10px;
    position: relative;
}
.menu .entrar a::after{
    content: " ";
    width: 20%;
    height: 3px;
    background-color: black;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.5s ease-in-out;
}
.menu .entrar a:hover::after{
    width: 100%;
}



/*--------**** CONTEUDO ****-------*/

header{
    display: flex;
    flex-flow: row wrap;
    height: 600px;
    /* background-color: aquamarine; */
}